.body6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
  }
  
  .card6-container {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    height: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 24px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
  }
  
  .card6-column {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 10px;
    text-align: center;
  }
  
  .card6 h4 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  .card6-divider {
    width: 2px;
    height: 81%;
    background-color: black;
    position: absolute;
    left: 48%;
    top: 90px;
    bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .columnscx {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .rowscx {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .emai1 {
    font-size: 12px;
  }

  .columnscxz {
    display: flex;
    flex-direction: column;
  }

  .rowscxz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.emai11 {
  font-size: 14px;
}

.tap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  align-items: center;
}