.event-card {
  min-width: 300px;
  padding: 10px;
  border-bottom: 1px solid black;
}

.event-card h3 {
  font-size: 20px;
  font-weight: lighter;
}

.firstrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.secondrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.date, .des {
  font-size: 12px;
}

.buttoncard {
  width: 70px;
  height: 30px;
  border: none;
  background-color: #00162D;
  color: white;
  font-size: 14px;
  border-radius: 32px;
  display: block;
  margin-left: 20px;
  border: 2px solid transparent;
}
  
.buttoncard:hover {
  background-color: transparent;
  border: 2px solid #00162D;
  color: #00162D;
}