* {
    margin: 0;
    padding: 0;
}

.NavBar2 {
    height: 45px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

.App-logo {
    height: 40px;
    width: auto;
}
  
.NavBar-left {
    display: flex;
    align-items: center;
}
  
.NavBar2-right {
    display: flex;
    align-items: center;
}

.orgbuttons {
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    margin-left: 20px;
    color: #00162D;
    text-decoration: none;
}

.orgbuttons:hover {
    font-weight: 800;
    color: #00162D;
}