.orgbody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 94vh;
}

.orgcard h4, .orgcard1 h4{
  font-size: 24px;
  font-weight: bold;  
  color: #333;
  margin-bottom: 10px;
}

.orgcard, .orgcard1 {
  flex-grow: 1;
}

.orgcard, .orgcard1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: auto;
  height: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 24px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.eventRow {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid black;
}

.eventRow > div {
  margin-bottom: 5px;
}

.dateandtime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.etitle {
  font-size: 20px;
}

.edate, .etime, .edes {
  font-size: 14px;
}

.reasoninput {
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  height: 10px;
  font-size: 10px;
  margin-top: 5px;
  border: 1px solid black;
}

.last {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ccbutton {
  width: 150px;
  height: 30px;
  border: 3px solid transparent;
  background-color: #00162D;
  color: white;
  font-size: 14px;
  border-radius: 32px;
}

.ccbutton:hover {
  border: 3px solid #00162D;
  background-color: transparent;
  color: #00162D;
}