.body3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 94vh;
}

.organizerbutton {
    margin-left: 100px;
    width: auto;
    margin-top: 0;
    padding: 10px;
    border: none;
    background-color: #00162D;
    border: 2px solid transparent;
    color: white;
    font-size: 12px;
    border-radius: 32px;
}
  
.organizerbutton:hover {
    background-color: transparent;
    border: 2px solid #00162D;
    color: #00162D;
}
  
.card3 {
    align-self: center;
    width: 90%;
    height: 560px; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 24px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}

.card3 h4 {
    font-size: 24px;
    font-weight: bold;
}