.body2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
}
  
.card2 {
    margin: 0 auto;
    height: 500px;
    width: 761px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 24px;
}
  
.name2 h1 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
  
.login {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}
  
.login label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: rgba(102, 102, 102);
}
  
.login input {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 15px;
    background-color: transparent;
}

.password-row {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: rgba(102, 102, 102);
}
  
.sbutton {
    margin-top: 50px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #00162D;
    color: white;
    font-size: 16px;
    border-radius: 32px;
}
  
.sbutton:hover {
    background-color: white;
    color: #00162D;
}